@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --muted: var(--vscode-back);
      --muted-foreground: var(--vscode-descriptionForeground);
      
      --editor: var(--vscode-editor-background);
      --editor-foreground: var(--vscode-editor-foreground);
      --editor-border: var(--vscode-editorWidget-border);

      --activity-bar: var(--vscode-activityBar-background);
      --activity-bar-foreground: var(--vscode-activityBar-foreground);
      --activity-bar-inactive-foreground: var(--vscode-activityBar-inactiveForeground);
      --activity-bar-active-border: var(--vscode-activityBar-activeBorder);
      --activity-bar-drop-border: var(--vscode-activityBar-dropBorder);

      --tooltip: var(--vscode-editorHoverWidget-background);
      --tooltip-foreground: var(--vscode-editorHoverWidget-foreground);
      --tooltip-border: var(--vscode-editorHoverWidget-border);
      
      --button: var(--vscode-button-background);
      --button-foreground: var(--vscode-button-foreground);

      --button-secondary: var(--vscode-button-secondaryBackground);
      --button-secondary-foreground: var(--vscode-button-secondaryForeground);

      --side-bar-background: var(--vscode-sideBar-background);
      --side-bar-title-background: var(--vscode-sideBarTitle-background);
      --side-bar-title-foreground: var(--vscode-sideBarTitle-foreground);
    }

    html {
        font-size: var(--vscode-font-size);
    }

    body {
      padding: 0px;
    }
}